---
layout: default
---
<article class="post">

  {% if page.mathjax %}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
  {% endif %}

  {% if page.external-url %}
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>

    <p class="meta"><span class="postdate">Link: <a href="{{ page.external-url }}">{{ page.external-url }}</a></span></p>
  {% else %}
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
  {% endif %}

  <div class="post-content">{{ content }}</div>

  <p class="meta">Posted on <span class="postdate"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %d, %Y" }}</time>
  {% if page.last_modified_at %}
  (Updated: <time datetime="{{ post.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %d, %Y" }}</time>)
  {% endif %}</span>
  {% if page.author %}
  <br><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
  {% endif %}
  <br>tags: {% for tag in page.tags %}<a href="/tags/#{{ tag | slugify }}">{{ tag }}</a>&nbsp;{% endfor %}</p>

</article>
